.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--fone-color);
  border: 3px solid var(--main-color);
  border-radius: 8px;
  padding: 12px;
}

.avatar {
  padding-bottom: 12px;
}

.name {
  font-size: 18px;
  /* font-weight: bold; */
  margin-bottom: 4px;
}

.status {
  font-size: 14px;
  color: red;
}

.isOnline {
  color: green;
}
